* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    background-color: #aad8f5;
    margin: auto;
    /* position: absolute; */
}
.menu-bar{
    width: 100%;
    height: auto;
    /* background-color: bisque; */
    overflow: hidden;
    display: flex;
   
    
}
.logo{
    width: 20%;
    height: 140px;
    /* background-color: chartreuse; */
}
.logo img{
    object-fit: cover;
    width: 100px;
    margin-left: 25%;
    margin-top: 20px;
}
.menu{
    width: 80%;
    height: 140px;
    /* background-color:rgb(97, 135, 216); */
    text-align: center;
    z-index: 2;
    
   
   }
   .menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    text-decoration: none;
   }
   .menu ul li{
    text-align: left;
    float: left;
    padding: 30px;
    margin-left: -1%;
   }
   .menu ul li a{
    display: block;
    padding: 30px ;
    text-decoration: none;
    font-size: 30px;
    color: black;
    
   }
   .menu ul li a:hover{
    color: rgb(218, 28, 218);
   }
   .circle{
    background-color: #81c4e39b;
    width: 1200px;
    height: 1200px;
    border-radius:50% ;
    position: absolute;
    left: 52%;  
    top: -45%; 
    
    
}
.box{
    width: 100%;
    height: auto;
    /* background-color:orange ; */
    z-index: 2;
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: center;
    top: 4%;
    
}
.box1{
    width: 55%;
    height: auto;
    overflow: hidden;
    /* background-color: brown; */
}
.box2{
    width: 45%;
    height: auto;
    overflow: hidden;
    /* background-color: rgb(222, 133, 133); */
    margin-left: 10px;
}
.text{
    width: 85%;
    height: auto;
    /* background-color: white; */
    position: relative;
    left: 15%;
    top: 15%;
    
}
.button-container{
    display: flex;
    justify-content: center;
}
.img{
    width: 50%;
    height: 100%;
    overflow: hidden;
    /* background-color: greenyellow; */
    border-radius: 50px ;
    margin-left: 15%;
}
.img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 250px;
    background-color: #3489d4;
    overflow: hidden;
    /* padding: 10px; */
    z-index:2 ;
    position: relative;
    display: flex;
  
}
.footer-box-1{
    width: 50%;
    height: 230px;
    /* background-color: darkblue; */
    /* margin: auto; */
    overflow: hidden;
   
}
.footer-box-1-1{
    width: 60%;
    height: auto;
    overflow: hidden;
    /* background-color: fuchsia; */
    position: relative;
    margin: auto;
    top: 25%;
    
}
.footer-box-2{
    width: 50%;
    height: auto;
    /* background-color: aquamarine; */
    overflow: hidden;
    display: flex;
    margin: auto;
    justify-content: center;
    
}
.footer-box-2-2{
    width: 25%;
    height: auto;
    overflow: hidden;
    /* background-color: lemonchiffon; */
    margin-top: 10px;
    color: white;
    margin-right: 30px;
}
.footer-box-2-2 :hover{
    color: red;
}
.footer-box-2-3{
    width: 25%;
    height: auto;
    overflow: hidden;
    /* background-color: rgb(176, 164, 54); */
    margin-top: 10px;
    color: white;
}
.footer-me {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    background-color: #aad8f5;
    justify-content: center;
    display: flex;
    align-items: center;
}
.resume{
    width: 89%;
    height: 1500px;
    /* background-color: burlywood; */
    overflow: hidden;
    margin: auto;
    z-index: 13;
    position: relative;

    
}
.box-resume{
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    margin-top: 50px;
    display: flex;
    overflow: hidden;
    
}
.resume-1{
    width: 70%;
    height:400px ;
    /* background-color: rgb(230, 221, 221); */
    margin-right: 10px;
    font-size: 30px;

    
}
.resume-img{
    width: 30%;
    height: 400px;
    /* background-color: chartreuse; */
    border-radius: 1500px;
    overflow: hidden;
    
}
.resume-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}




